<p style="color: green"><%= notice %></p>

<% content_for :title, "Event invites" %>

<h1>Event invites</h1>

<div id="event_invites">
  <% @event_invites.each do |event_invite| %>
    <%= render event_invite %>
    <p>
      <%= link_to "Show this event invite", event_invite %>
    </p>
  <% end %>
</div>

<%= link_to "New event invite", new_event_invite_path %>
