<h2>Today's Events</h2>

<% if @user.events.none? { |event| event.event_date == Date.today }  %>
    <p>No events are scheduld for today...</p>
<% else %>
    <ul>
        <% @user.events.sort_by { |k, v| k[:event_date] }.each do |event| %>
            <% next unless event.event_date.to_date == Date.today %>
            <li>
                <h3><%= link_to event.title, event %></h3>
                <p> Location: <%= event.location %></p>
                <p>Date: <%= event.event_date.strftime('%A, %B %e, %Y') %></p>
            </li>
        <% end %>
    </ul>
<% end %>