<h2>Today's Events</h2>

<% if @user.events.today.none?%>
    <p>No events are scheduld for today...</p>
<% else %>
    <ul>
        <% @user.events.today.each do |event| %>
            <li>
                <h3><%= link_to event.title, event %></h3>
                <p> Location: <%= event.location %></p>
                <p>Date: <%= event.event_date.strftime('%A, %B %e, %Y') %></p>
            </li>
        <% end %>
    </ul>
<% end %>