<h2>Upcoming Events</h2>

<% if @user.events.upcoming.none? %>
    <p>No upcoming events have been scheduled...</p>
<% else %>
    <ul>
        <% @user.events.upcoming.sort_by { |k, v| k[:event_date] }.each do |event| %>
            <li>
                <h3><%= link_to event.title, event %></h3>
                <p> Location: <%= event.location %></p>
                <p>Date: <%= event.event_date.strftime('%A, %B %e, %Y') %></p>
            </li>
        <% end %>
    </ul>
<% end %>