<h2>Upcoming Events</h2>

<% if @events.none? { |event| event.event_date.to_date > Date.today} %>
    <p>No upcoming events have been scheduled...</p>
<% else %>
    <ul>
        <% @events.sort_by { |k, v| k[:event_date] }.each do |event| %>
            <% next if event.event_date.to_date <= Date.today %>
            <li>
                <h3><%= link_to event.title, event %></h3>
                <p> Location: <%= event.location %></p>
                <p>Date: <%= event.event_date.to_date.strftime('%A, %B %e, %Y') %></p>
                <p>Created by: <%= link_to event.creator.username, event.creator %></p>
            </li>
        <% end %>
    </ul>
<% end %>