<h2>Upcoming Events</h2>

<% if Event.none? %>
    <p>No upcoming events have been scheduled...</p>
<% end %>

<ul>
    <% @events.each do |event| %>
        <% next if Date.today > event.event_date.to_date %>
        <li>
            <h3><%= event.title %></h3>
            <%= event.location %>
            <%= event.event_date %>
        </li>
    <% end %>
</ul>